.my_container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 100px;
    padding-bottom: 20px;
    margin-left: 101px;
    margin-right: 101px;
}

body {
  padding-top: 100px;
}

/* @media (max-width: 979px) { */
@media (max-width: 1170px) {
  body {
    padding-top: 100px;
  }
}
/* navbar edits */
.navbar {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
    background-color: #a480b0;
}

.navbar-brand {
  line-height: 80px;
  min-height: 80px;
  font-family: 'Alegreya', serif;
}

.home-link {
  position: relative;
  font-size: 24px;
}

.logo {
  margin-top: 3%;
  float: left;
  height: 65%;
  padding-top: 2%;
}

@media (min-width: 768px) {
  .navbar-nav > li > a {
    /* (80px - line-height of 27px) / 2 = 26.5px */
    padding-top: 26.5px;
    padding-bottom: 26.5px;
    line-height: 27px;
  }
}

div{
  font-family: 'Lato', sans-serif;
}

a {
  color: #a480b0;
  font-family: 'Lato', sans-serif;
}
/* color: #b385c7; */
.nav.navbar-nav li a {
    margin-top: 7px;
    color: white;
    font-size: 16px;
    font-family: 'Alegreya', serif;
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 0%;
}


.navbar-collapse {
    padding-left: 120px;
}

h1, h5{
    font-family: 'Alegreya', serif;
    color: #b385c7;
}

h3 {
    font-size: 20px;
    font: 'Roboto', sans-serif;
    text-align: center;
}

p {
    font-family: 'Thasadith', sans-serif;
}

.sub-title {
  font-size: 30px;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  text-align: center;
  color: #83668C;
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #a480b0;
  color: black;
  margin-top: 15px;
  padding: 15px;
}

.footer-title {
  font-family: 'Alegreya', serif;
  font-size: 20px;
  color: white;
  text-align: center;
  justify-content: center;
  margin-bottom: 20px;
}

.office-location {
  /* margin-left: 15%; */
  text-align: center;
  font-family: 'Alegreya', serif;
  font-size: 18px;
  color: white;
}

.div-design {
  width: 100%;
  padding: 0% 0% 0% 0%;
  height: auto;
  background-color: whitesmoke;
}

p {
    font-family: sans-serif;
}

row {
    padding: 20px;
}

.custom-padding {
    padding: 10px;
}

.custom-padding2 {
  padding-left: 50px;
  padding-right: 50px;
}

.item {
    width: 290px;
    min-height: 120px;
    max-height: auto;
    margin: 3px;
    padding: 3px;
}

.container-fluid {
  background-color: #a480b0;
}

.group-home-photo{
  padding: 0px 0px 0px 0px;
}

/* Container holding the image and the text */
.container {
  position: relative;
  width: 100%;
}

/* Bottom right text */
.text-block {
  position: static;
  /* top:75%;*/
  padding-right: 10%;
  padding-left: 10%;
  padding-bottom: 2%;
  margin-top: -10%;
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
  /* bottom: -30%; */
  background-color: #E6F1F4;
  color: black;
  opacity: 0.9;
  /* padding-left: 20px;
  padding-right: 20px; */
}

.welcome-title {
  align-items: center;
  text-align: center;
  font-size: 50px;
  color: #83668C;
  /* font-family: 'Alegreya', serif; */
  font-family: 'Lato', sans-serif;
}

.welcome-msg {
  text-align: center;
  font-size: 20px;
  /* font-family: 'Alegreya', serif; */
  font-family: 'Lato', sans-serif;
}

.welcome-block {
  position: relative;
  /* position: absolute; */
  width: 100%;
  /* margin: 0px 0px 0px 0px; */
}
.padding-after-welcome-msg {
  margin-top: 200px;
}

.main-events {
  background-color: #F5F0F8;
  position: static;
  padding-right: 10%;
  padding-left: 10%;
  padding-bottom: 2%;
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
}

.small-title {
  padding-top: 50px;
  text-align: center;
  color: #83668C;
  font-family: 'Lato', sans-serif;
  /* font-family: 'Alegreya', serif; */
  font-size: 30px;
}

.upcoming-event-text {
  text-align: center;
  font-family: 'Lato', sans-serif;
  /* font-family: 'Alegreya', serif; */
  font-size: 20px;
}

.event-poster {
  padding: 20px 20px 20px 70px;
}

.wonder-womxn {
  position: static;
  padding-bottom: 2%;
  margin: 5%;
  width: 90%;
  background-color: #E6F1F4;
  color: black;
  opacity: 0.9;
}

.womxn-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2%;
}


.wonder-img {
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  border-radius: 50%;
  margin-left: 10%;
  width: 200px;
  height: 200px;
}

.wonder-text-container{
  margin-left: 3%;
  width: 80%;
}

.wonder-title {
  align-items: center;
  text-align: center;
  font-size: 50px;
  color: #83668C;
  font-family: 'Lato', sans-serif;
}

.name-title {
  font-size: 30px;
  color: #83668C;
  font-family: 'Lato', sans-serif;
}

.wonder-msg {
  text-align: left;
  font-size: 15px;
  font-family: 'Lato', sans-serif;
}

.text-message{
  display: flex;
  flex-direction: column;
  margin-left: 2%;
  margin-right: 5%;
}

#target { 
  width: 90%; 
  height: 450px;
  overflow-y: auto; 
  overflow-x: auto; 
  resize: both; 
  z-index: 2; 
} 

.event-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  width: 70%;
}

.form-bg {
  background-color: #F5F0F8;
}

.social-media {
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  margin-left: 25%;
}

.social-media-text {
  font-family: 'Alegreya', serif;
  color: white;
  font-size: 18px;
}

.calendar-event {
  padding: 2% 2% 2% 2% ;
  margin-top: 0.5%;
}

.calendar {
  background-color: #F5F0F8;
  position: relative;
  padding-top: 2%;
  padding-right: 5%;
  padding-left: 5%;
  padding-bottom: 2%;
  margin: 2% 5% 5% 2%;
  width: 90%;
}

.title {
  background-color: #E6F1F4;
  margin: 0% 0% 0% 0%;
}

.event-title {
  color: #83668C;
  font-size: 20px;
  font: 'Roboto', sans-serif;
  font-weight: bold;
}

.description {
  font-size: 16px;
  font: 'Roboto', sans-serif;
}

.page-title {
  font: 'Roboto', sans-serif;
  font-size: 38px;
  /* color: #83668C; */
  color: #B385C7;
  padding-top: 2%;
  padding-left: 3%;
  padding-bottom: 2%;
}

.custom-button {
  background-color: #A480B0;
  color: white;
}

.even-table-row {
  background-color: #F5F0F8;
  font-size: 18px;
  font: 'Roboto', sans-serif;
  border-style: solid solid solid solid;
  border-width: 1px 1px 1px 1px;
  /* border-color: #868484; */
  border-color: black;
}

.odd-table-row {
  font-size: 18px;
  font: 'Roboto', sans-serif;
  border-style: solid solid solid solid;
  border-width: 1px 1px 1px 1px;
  /* border-color: #868484; */
  border-color: black;
}

/* .last-row {
  border-bottom: 1px solid #868484;
} */

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  /* padding: 8px; */
  line-height: 1.42857143;
  vertical-align: top;
  /* border-top: 1px solid #868484; */
  border-top: 1px solid black;
}

.team-container {
  background-color: white;
}

.team-info {
  padding-right: 0%;
  margin-left: 0%;
}

.member-info {
  text-align: center;
  padding: 0% 0% 0% 0%;
}

.navbar-title {
  font-size: 18px;
  color: white;
}

.officer-name {
  color: #83668C;
  font-size: 18px;
  font-weight: bold;
  /* padding: 3% 0% 3% 0%; */
  /* margin-top: 10%; */
  /* margin: 5% 0% 3% 0%; */
}

.even-row {
  background-color: #F5F0F8;
  padding: 3% 0% 3% 0%;
  padding-top: 5%;
}


.paragraph {
  margin: 5% 0% 5% 0%;
  font-family: 'Lato', sans-serif;
  /* font-family: 'Alegreya', serif; */
}

.team-directory {
  padding: 0% 10% 0% 6%;
  justify-content: center;
}

.subscribe-content {
  display: flex;
  flex-wrap: wrap;
  column-gap: 2rem;
  justify-content: center;
  /* padding:  3% 25% 0% 40%; */
}

.custom-btn {
  background-color: #83668C;
  color: white;
  margin-top: 15px;
}

.social-media-icons {
  padding: 0% 30% 0% 30%;
}

.copyright {
  margin-top: 20px;
  margin-bottom: 10px;
  color: white;
  justify-content: center;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
